---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ProjectCard from '../components/ProjectCard.astro';
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';

const projects = [
	{
		title: 'RESTful API for intelligent ambulance management software',
		description: 'Transform medical emergency management with an API designed to optimize every second. This intelligent solution, developed with Django and Django Rest Framework, efficiently allocates ambulances thanks to advanced algorithms and route calculation using Google Maps API. With a robust PostgreSQL database and token-based authentication, it ensures security, reliability and superior performance.',
		tags: [
			{
				name: 'Django',
				image: './src/assets/django.svg',
				color: '#0C3C26',
			},
			{
				name: 'Django Rest Framework',
				image: '',
				color: '#ea4f4f',
			},
			{
				name: 'PostgreSQL',
				image: './src/assets/postgres.svg',
				color: '#336791;',
			},
		],
		code: 'https://github.com/juancortizgonz/backend-ambulance-system',
		demo: 'https://github.com/juancortizgonz/backend-ambulance-system',
		image: './src/assets/projects/backend-ambulance-system-project.svg',
	},
	{
		title: 'Frontend for intelligent ambulance management software',
		description: 'The project uses React with TypeScript to develop a modern and efficient interface. Styles are implemented with Tailwind CSS, and components come from Shadcn/UI to ensure an attractive and functional design. It includes key functionalities such as real-time ambulance visualization on maps, interactive dashboards and dynamic reports, integrated with the backend via Fetch API. Context API manages the state of the application, while techniques such as lazy loading improve performance. In addition, the frontend is designed to be tested with unit and end-to-end testing, ensuring a smooth and reliable experience.',
		tags: [
			{
				name: 'TypeScript',
				image: './src/assets/typescript.svg',
				color: '#235a97',
			},
			{
				name: 'Vite',
				image: './src/assets/vite.svg',
				color: '#101010',
			},
			{
				name: 'React',
				image: './src/assets/react.svg',
				color: '#087ea4',
			},
		],
		code: 'https://github.com/juancortizgonz/frontend-ambulance-system',
		demo: 'https://github.com/juancortizgonz/frontend-ambulance-system',
		image: './src/assets/projects/frontend-ambulance-system-project.svg',
	},
];
---

<Layout>
	<main>
		<Header />
		<Hero />
		<section class="container mx-auto px-4 py-8 md:items-center">
			<h2 class="text-black font-bold text-3xl">My Projects</h2>
			<div class="lg:grid lg:grid-cols-2 lg:place-items-center mt-4 mx-auto">
				{
					projects.map(project => {
						return (
						<ProjectCard {...project} />
					)	
					})
				}
			</div>
			<p class="font-mono mt-5 text-center">You can follow my progress in <a href="https://x.com/juancortizgonz" class="underline" target="_blank">my 𝕏 account</a>, where I try to build in public</p>
		</section>
		<AboutMe />
		<Contact />
		<footer class="py-4">
			<p class="text-center text-gray-500 text-xs">Made with 💛 and Astro. Special thanks to <a href="https://www.youtube.com/@midudev/" class="underline" target="_blank" rel="nofollow">@midudev</a>. Design inspired by <a href="https://www.figma.com/community/file/1072882706863217536" class="underline" target="_blank" rel="nofollow">Freddy Montes</a>.</p>
		</footer>
	</main>
</Layout>
