<div class="flex justify-center items-center flex-col space-y-4">
    <img src="/assets/images/profile.png" class="rounded-lg sm:w-1/4" alt="">
    <h4 class="font-mono text-lg">Nice to meet you,</h4>
    <h3 class="font-bold text-2xl">I'm <span class="text-orange-400">Juan Camilo Ortiz</span></h3>
    <div class="text-center leading-7 w-5/6">
        <p>
            A 22 year old fullstack developer based in Cali, Colombia. I'm currently completing my studies in systems engineering at the Universidad del Valle.
        </p>
    
        <p>
            I'm passionate about technology, entrepreneurship, problem solving and good frontend design. Constantly challenging myself to create more amazing projects that solve real world problems.
        </p>
            
        <p>
            I have a certified B2 level, academic research experience and very eager to join an innovative development team as a Fullstack or Frontend developer.
        </p>
    </div>
</div>