<section class="container mx-auto px-4 py-8 mt-20 mb-10 bg-black text-white text-center rounded-lg lg:w-4/6">
    <h3 class="text-lg font-bold underline mb-3">Want to contact me?</h3>
    <div class="flex flex-col items-center justify-center gap-4">
        <div class="w-full flex justify-around">
            <img src="/assets/icons/location.svg" width="28" alt="">
            <div>
                <h4 class="font-bold">Location</h4>
                <p class="font-mono">Cali, Colombia</p>
            </div>
        </div>
        <div class="w-full flex justify-around">
            <img src="/assets/icons/email.svg" width="28" alt="">
            <div>
                <h4 class="font-bold">Email</h4>
                <a class="font-mono" href="mailto:juancortizgonz@gmail.com" target="_blank" rel="nofollow">Send an email</a>
            </div>
        </div>
        <div class="w-full flex justify-around">
            <img src="/assets/icons/message.svg" width="28" alt="">
            <div>
                <h4 class="font-bold">WhatsApp</h4>
                <a class="font-mono" href="https://wa.me/573207150383" target="_blank" rel="nofollow">Send a message</a>
            </div>
        </div>
    </div>
</section>