<section class="my-16 text-center px-5 leading-8 flex flex-col items-center lg:w-4/6 lg:mx-auto">
    <button class="bg-green-400 text-white font-bold text-sm py-1 px-3 rounded-lg mb-4 flex my0 mx-auto items-center">
        <img class="mr-3" src="src/assets/briefcase-business.svg">
        Open to Work
    </button>
    <h2 class="text-2xl leading-10 my-2 lg:text-3xl">I'm FullStack Developer</h2>
    <p class="font-mono">
        I'm Juan Camilo Ortiz, a FullStack web developer from Cali, Colombia. I'm passionate about good frontend, UI/UX design, robust backend, and building/contributing to open-source.
    </p>
    <a href="/pdf/CV.pdf" download="Juan Camilo Ortiz CV.pdf" class="bg-black text-white w-auto flex justify-between py-1 px-4 mt-3 items-center">
        Download my CV
        <img src="src/assets/arrow-right.svg" class="ml-1">
    </a>
</section>